{% macro table(data, linear) %}

    {% if data is iterable %}

        <table {% if linear %}class="linear"{% endif %}>

        {% for row in data %}
            <tr>
            {% if loop.first %}
                {% set cellcounter = row|length %}
                {% set header = true %}
                {% for cell in row %}
                    <th> {{ cell }} </th>
                {% endfor %}

            {% else %}

                {% for cell in row %}
                    <td> {{ cell|markdown }} </td>
                    {% if loop.last and (loop.index < cellcounter) %}
                        <td>&nbsp;</td>
                    {% endif %}
                {% endfor %}

            {% endif %}

            </tr>
        {% endfor %}

        </table>

    {% endif %}

{% endmacro %}


{% macro menu(page, current) %}
    {% from _self import menu %}

    {% set selected = current starts with page.url %}
    <li class="jqtree_common {{ page.children is not empty ? ' jqtree-folder' }}{{ not selected ? ' jqtree-closed' }}{{ current == page.url ? ' jqtree-selected'}}">
        <div class="jqtree-element">
            {% if page.children is not empty %}
                <a href="{{ page.url }}" class="jqtree-toggler jqtree-closed jqtree-toggler-left">{{ selected ? '▼' : '►' }}</a>
                <a href="{{ page.url }}"><span class="jqtree-title jqtree-title-folder">{{ page.label }}</span></a>
            {% else %}
                <a href="{{ page.url }}" class="jqtree-title">{{ page.label }}</a>
            {% endif %}
        </div>
        <ul class="jqtree_common">
            {% for sub in page.children %}
                {{ menu(sub, current) }}
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

{% macro submenu(items, section, version) %}

    {% from _self import submenu %}

    <ul>
        {% for link, name in items %}
            {% if name.items is defined %}
                <li><strong>{{ name.title }}</strong>
                    {{ submenu(name.items, section, version) }}
                </li>
            {% else %}
                <li><a href="/{{ version }}/{{link}}" {{ (section == link) ? 'class="selected"' }}>{{name}}</a></li>
            {% endif %}

        {% endfor %}
    </ul>

{% endmacro %}
