{% extends '_master.twig' %}

{% block content %}

    <div class="small-12 medium-12 large-12 columns content">

        <h1>{{ title }}</h1>

        <p class='tip'>Note: This page does <em>not</em> define our public API. It's here, exclusively as a reference. So, please do not use this as a source to build on, because things <em>will</em> change.</p>

        <table id="example" class="display" width="100%"></table>

        <script>

        var dataSet = [
        {% for class in classes if class.type in ['class', 'closure', 'container'] -%}
            {% if class.type == 'class' and class.file|slice(0, 4) == 'src/' %}
                {% set filename = class.value|replace({'\\': '/'}) %}
                {% set link = '<a href="https://dev.bolt.cm/docs/api/release/' ~ version ~ '/' ~ filename ~ '.html">' ~ class.file ~ '</a>' %}
            {% else %}
                {% set link = class.file %}
            {% endif %}

          [ '{{ class.name|raw }}', '{{ class.type|raw }}', '{{ class.value|e("js") }}', '{{ link|raw }}' ],
        {%- endfor %}
                ];
        </script>

    </div>

{% endblock content %}

{% block extrafooter %}
    <!-- data tables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" type="text/css" media="all" />
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script>
    jQuery(document).ready(function($) {
        $('#example').DataTable( {
            data: dataSet,
            columns: [
                { title: "Service / Name" },
                { title: "Type" },
                { title: "Value" },
                { title: "Filename" }
            ],
            "lengthMenu": [[-1], ["All"]]
        } );
    } );
    </script>
{% endblock extrafooter %}