{# page \Bolt\Docs\Page #}
{% extends '_master.twig' %}

{% import '_macros.twig' as macro %}

{% block content %}

    <div class="small-12 medium-12 large-9 columns content">

        <a href="#sidebar" class="button hide-for-large" id="jumpbutton">Jump to docs navigation</a>

        <div id="version-changer" class="version-changer">
            <form action="" method="get">
                <select>
                    <option>Current: <strong>{{ version }}</strong></option>
                    <optgroup label='Switch to version:'>
                    {% for v in versions if v != version %}
                        <option value="{{ path('page', {version: v}) }}">{{ v }}</option>
                    {% endfor %}
                    </optgroup>
                </select>
            </form>
        </div>

        {% if version != default_version %}
            <p class="note" style="margin-top: 1em;">
                <strong>Note:</strong> You are currently reading the documentation for <strong>Bolt {{ version }}</strong>.
                Looking for the <a href="{{ path('page') }}">documentation for Bolt {{ default_version }}</a> instead?
            </p>
        {% endif %}

        {% if page.submenu|length > 1 %}
            <div class='quick-links show-for-large'>
                <ul>
                   <li>Jump to:</li>
                    {% for anchor, item in page.submenu %}
                        <li><a href='#{{ anchor }}'>{{ item|raw }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ page.content|raw }}

        {{ include('_sub_submenu.twig') }}

        <div class="row">
            <div class="large-6 columns">
                {% if page.previous.title %}
                    {% set path = '/' ~ version ~ '/' ~ page.previous.path|replace({'.md': '', '/index': ''}) %}
                    &laquo; Previous: <a href="{{ path }}">{{ page.previous.title }}</a>
                {% endif %}
            </div>
            <div class="large-6 columns text-right">
                {% if page.next.title %}
                    {% set path = '/' ~ version ~ '/' ~ page.next.path|replace({'.md': '', '/index': ''}) %}
                    Next: <a href="{{ path }}">{{ page.next.title }}</a> &raquo;
                {% endif %}
            </div>
        </div>

        <div class="community-notice show-for-large">
            <hr>
            Couldn't find what you were looking for? We are happy to help you in the
            <a href="https://discuss.bolt.cm/" target="_blank">forum</a>, on
            <a href="http://slack.bolt.cm/" target="_blank">Slack</a> or on
            <a href="http://bolt.cm/irc" target="_blank">IRC</a>.<br>
            Spotted a typo, or have something to add? Edit
            <a href="https://github.com/bolt/docs/blob/release/{{ version }}/docs/{{ page.path }}" target="_blank">this page on GitHub</a>.
        </div>


    </div>

    <div class="small-12 medium-12 large-3 large-pull-9 end columns sidebar" id="sidebar">
        <nav id="sidebar-nav">

            <div class='search'>
                <label for="algolia-search"> Search the documentation:</label>
                <input type="text" placeholder="Search ..." id="algolia-search"/>
            </div>

            <div id="tree1">
                <ul class="hide">
                    {% for v in versions %}
                        <a href="{{ path('page', {version: v}) }}">{{ v }}</a>
                    {% endfor %}
                </ul>

                <ul class="jqtree_common jqtree-tree">
                    {% for sub in page.root.subPages %}
                        {{ macro.menu(sub, page) }}
                    {% endfor %}
                </ul>
            </div>

        </nav>
    </div>

{% endblock content %}
