{% macro table(data, linear) %}

    {% if data is iterable %}

        <table {% if linear %}class="linear"{% endif %}>

        {% for row in data %}
            <tr>
            {% if loop.first %}
                {% set cellcounter = row|length %}
                {% set header = true %}
                {% for cell in row %}
                    <th> {{ cell }} </th>
                {% endfor %}

            {% else %}

                {% for cell in row %}
                    <td> {{ cell|markdown }} </td>
                    {% if loop.last and (loop.index < cellcounter) %}
                        <td>&nbsp;</td>
                    {% endif %}
                {% endfor %}

            {% endif %}

            </tr>
        {% endfor %}

        </table>

    {% endif %}

{% endmacro %}


{% macro menu(page, current) %}
    {# page \Bolt\Docs\Page #}
    {# current \Bolt\Docs\Page #}
    {% from _self import menu %}

    {% if (page.listed is not defined or page.listed) %}

        {% if page.section|default() is not empty %}
            <li class="divider">{{ page.section }}</li>
        {% endif %}

        {% set selected = current.url starts with page.url %}
        <li class="{{ not selected ? 'closed' }}{{ current.url == page.url ? ' selected'}}">
            {% if page.title == "Getting Started" %}
                {% dump(page.section) %}
            {% endif %}
            {% if page.subPages is not empty %}
                <a href="{{ page.url }}" class="{{ current.url == page.url ? 'is-active'}}"><span>{{ page.title }}</span></a>

            {% else %}
                <a href="{{ page.url }}" class="{{ current.url == page.url ? 'is-active'}}">{{ page.title }}</a>
            {% endif %}
            {% if current.url == page.url %}
                {{ include('_sub_quicklinks.twig') }}
            {% endif %}
            {% if page.subPages %}
            <ul>
                {% for sub in page.subPages %}
                    {{ menu(sub, current) }}
                {% endfor %}
            </ul>
            {% endif %}
        </li>

    {% endif %}
{% endmacro %}

{% macro sitemap(page) %}
    {% from _self import sitemap %}
    <url><loc>https://docs.bolt.cm{{ page.url }}</loc></url>
    {% for sub in page.subPages %}
        {{ sitemap(sub) }}
    {% endfor %}
{% endmacro %}
