<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 7]><html xml:lang="en" lang="en" class="ie ie7"><![endif]-->
<!--[if IE 8]><html xml:lang="en" lang="en" class="ie ie8"><![endif]-->
<!--[if (lt IE 7)|(gt IE 8)|!(IE)]><!-->
<html xml:lang="en" lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title|raw }} | Bolt Documentation</title>
    <meta name="DCTERMS.title" content="Bolt CMS"/>
    <meta name="robots" content="noydir, noodp"/>

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('images/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('images/safari-pinned-tab.svg') }}" color="#2d3f50">
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    <meta name="msapplication-config" content="{{ asset('images/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,400italic,600,600italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ asset('assets/app.css') }}" type="text/css" media="all" />

{% block canonical %}
{% endblock canonical %}

{% block extrahead %}
{% endblock extrahead %}

{% include '_headerscripts.twig' %}

</head>

<body class="body-docs">

    <header>
        <nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="brand--text is-size-3" href="/">
                    BOLT<span class="has-text-weight-light">CMS</span>
                </a>
                <div class="brand--payoff is-hidden">Sophisticated, Lightweight and Simple</div>
            </div>
            <div class="navbar-menu" id="navbar-menu">
                <div class="navbar-start">
                    {% set route = app.request.attributes.get('_route') %}
                    {% set route_params = app.request.attributes.get('_route_params') %}
                    <a href="https://bolt.cm/" class="navbar-item">Home [bolt.cm]</a>
                    <a href="{{ path('page', {version: version})}}" class="navbar-item">Documentation</a>
                    <a href="{{ path('page', {version: version, page: 'manual'}) }}" class="navbar-item">Manual</a>
                    <a href="{{ path('cheatsheet', {version: version}) }}" class="navbar-item">Cheatsheet</a>
                </div>
            </div>
            <button class="button button-bars is-primary is-hidden-desktop navbar-burger" data-target="navbar-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>

    <div class="docs columns is-gapless is-desktop">
{% block content %}
    (content goes here)
{% endblock content %}
    </div>

    <footer class="columns is-gapless">
        <div class="footer-top columns">
            <div class="column is-one-third">
                <h2 class="title is-4">Links</h2>
                <ul class="links">
                    {% set route = app.request.attributes.get('_route') %}
                    {% set route_params = app.request.attributes.get('_route_params') %}
                    <li><a href="https://bolt.cm/">Home</a></li>
                    <li><a href="https://bolt.cm/features">Features</a></li>
                    <li><a href="{{ path('page', {version: version})}}">Documentation</a></li>
                    <li><a href="https://bolt.cm/news">News</a></li>
                    <li><a href="https://bolt.cm/news">Showcase</a></li>
                    <li><a href="https://bolt.cm/community">Community</a></li>
                    <li><a href="https://market.bolt.cm/">Marketplace</a></li>
                    <li><a href="https://bolt.cm/pages/download">Download</a></li>
                </ul>
            </div>
            <div class="column is-one-third">
                <h2 class="title is-4">Connect</h2>
                <ul class="connect">
                    <li>
                        <span class="icon is-large">
                            <i class="fab fa-lg fa-twitter"></i>
                        </span>
                        <a href="https://twitter.com/boltcm">Twitter</a>
                    </li>
                    <li>
                        <span class="icon is-large">
                            <i class="fab fa-lg fa-github-alt"></i>
                        </span>
                        <a href="https://github.com/bolt/bolt">Github</a>
                    </li>
                    <li>
                        <span class="icon is-large">
                            <i class="fab fa-lg fa-slack-hash"></i>
                        </span>
                        <a href="https://slack.bolt.cm/">Slack</a>
                    </li>
                    <li>
                        <span class="icon is-large">
                           <i class="fas fa-lg fa-comments"></i>
                        </span>
                        <a href="https://discuss.bolt.cm/">Forums</a>
                    </li>
                </ul>
            </div>
            <div class="column is-one-third logo">
                <img src="{{ asset('images/bolt.png') }}" width='170' alt="BoltCM" />
            </div>
        </div>
        <div class="footer-bottom">&copy; Copyright 2018 Bolt CMS</div>
    </footer>

    <script src="{{ asset('assets/app.js') }}"></script>

{% block extrafooter %}
{% endblock extrafooter %}

</body>
</html>
