{% set numeric = [] %}
{% set other = [] %}
{% for k, v in versions %}
    {% if k matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
        {% set numeric = numeric|merge([v]) %}
    {% else %}
        {% set other = other|merge([v]) %}
    {% endif %}
{% endfor %}

<div id="version-changer" class="version-changer">
    <div class="select">
        <form action="" method="get">
            <select>
                <option>Selected version: <strong>Bolt {{ version }}</strong></option>
                <optgroup label=''>
                <optgroup label='Switch to version:'>
                    {% for v in numeric|reverse %}
                        {% if (v ~ '/' ~ page.path) in filelist %}
                            {% set path = path('page', {'version': v, 'page': page.path|replace({'.md': ''}) }) %}
                        {% else %}
                            {% set path = path('page', {'version': v }) %}
                        {% endif %}
                        <option value="{{ path }}" class="version-{{ v }}">{{ v }}
                            {% if v == default_version %}(current stable){% endif %}
                            {% if v > default_version %}(future release){% endif %}
                        </option>
                    {% endfor %}
                </optgroup>

                {% if other is not empty %}
                <optgroup label=''>
                <optgroup label='Other:'>
                    {% for v in other %}
                        <option value="{{ path('page', {version: v}) }}">{{ v }}</option>
                    {% endfor %}
                </optgroup>
                {% endif %}
            </select>
        </form>
    </div>
    <a class="button is-info" target="_blank"
    href="https://github.com/bolt/docs/blob/{{ version }}/docs/{{ page.path }}" aria-label="Edit on GitHub">
        <span class="icon is-small">
            <i class="fab fa-github"></i>
        </span>
        <span>Edit on GitHub</span>
    </a>

    {% if openineditor(page) %}
        <a class="button is-info" href="{{ openineditor(page) }}">
            <span class="icon is-small">
                <i class="far fa-edit"></i>
            </span>
            <span>
            Edit in editor
            </span>
        </a>
    {% endif %}
</div>
