{# page \Bolt\Docs\Page #}
{% extends '_master.twig' %}

{% import '_macros.twig' as macro %}

{% block canonical %}
{% if (version != default_version) and (default_version ~ '/' ~ page.path) in filelist %}
    {% set canonical = path('page', {'version': default_version, 'page': page.path|replace({'.md': ''}) }) %}
{% else %}
    {% set canonical = path('page', {'version': version, 'page': page.path|replace({'.md': ''}) }) %}
{% endif -%}
    <link rel="canonical" href="{{ canonical }}" />
{% endblock canonical %}

{% block content %}

    <main class="docs__main">
        <div class="docs__main--body">

            {% include '_versionselect.twig' %}

            <section id="content" class="content">

                <a href="#sidebar" class="button is-info is-hidden-desktop" id="jumpbutton">Jump to docs navigation</a>

                {{ include('_sub_title.twig') }}

                {% if version != default_version %}
                    {% if (default_version ~ '/' ~ page.path) in filelist %}
                        {% set path = path('page', {'version': default_version, 'page': page.path|replace({'.md': ''}) }) %}
                    {% else %}
                        {% set path = path('page', {'version': default_version }) %}
                    {% endif %}
                    <p class="notification" style="margin-top: 1em;">
                        <strong>Note:</strong> You are currently reading the documentation for <strong>Bolt
                        {{ version }}</strong>. Looking for the <a href="{{ path }}">documentation
                        for Bolt {{ default_version }}</a> instead?
                    </p>
                {% endif %}

                {% if page.listed is defined and not page.listed %}
                    <p class="notification is-warning" style="margin-top: 1em;">
                        <strong>Note:</strong> Welcome, <i>Time Traveller</i> or <i>Internet Archeologist</i>.
                        The information you find below is outdated, and might not entirely work on recent
                        versions of Bolt. Use with care, and at your own discretion.
                    </p>
                {% endif %}

                {% include '_sub_quicklinks.twig' with {'with_label': true} %}

                {{ page.content|replace({'%%VERSION%%': version})|raw }}

                {{ include('_sub_submenu.twig') }}

                <br><br>
                <div class="columns is-mobile" role="navigation" aria-label="pagination">
                    <div class="is-6 column">
                        {% if page.previous.title|default() %}
                            {% set path = '/' ~ version ~ '/' ~ page.previous.path|replace({'.md': '', '/index': ''}) %}
                            <a class="button is-info" href="{{ path }}">
                                <span class="icon"><i class="fas fa-angle-double-left"></i></span>
                                <span class="is-hidden-tablet">Previous</span>
                                <span class="is-hidden-mobile">{{ page.previous.title }}</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="is-6 column has-text-right">
                        {% if page.next.title|default() %}
                            {% set path = '/' ~ version ~ '/' ~ page.next.path|replace({'.md': '', '/index': ''}) %}
                            <a class="button middle is-info" href="{{ path }}">
                                <span class="is-hidden-tablet">Next</span>
                                <span class="is-hidden-mobile">{{ page.next.title }}</span>
                                <span class="icon"><i class="fas fa-angle-double-right"></i></span>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="community-notice is-desktop">
                    <a href="https://github.com/bolt/docs/blob/{{ version }}/docs/{{ page.path }}" target="_blank" class="github">
                        <span class="icon">
                            <i class="fab fa-2x fa-github"></i>
                        </span>
                        Edit this page on GitHub
                    </a>
                    {% if openineditor(page) %}
                        <br>
                    <a href="{{ openineditor(page) }}" class="github">
                        <span class="icon">
                            <i class="far fa-2x fa-edit"></i>
                        </span>
                        Edit this page in your editor
                    </a>
                    {% endif %}
                    <hr>
                    Couldn't find what you were looking for? We are happy to help you in the
                    <a href="https://discuss.bolt.cm/" target="_blank">forum</a>, on
                    <a href="https://slack.bolt.cm/" target="_blank">Slack</a> or on
                    <a href="https://github.com/bolt" target="_blank">Github</a>.<br>
                </div>



            </section>
        </div>
    </main>

    {% include '_sidebar.twig' %}

{% endblock content %}
