{% macro table(data, linear) %}

    {% if data is iterable %}

        <table {% if linear %}class="linear"{% endif %}>

        {% for row in data %}
            <tr>
            {% if loop.first %}
                {% set cellcounter = row|length %}
                {% set header = true %}
                {% for cell in row %}
                    <th> {{ cell }} </th>
                {% endfor %}

            {% else %}

                {% for cell in row %}
                    <td> {{ cell|markdown }} </td>
                    {% if loop.last and (loop.index < cellcounter) %}
                        <td>&nbsp;</td>
                    {% endif %}
                {% endfor %}

            {% endif %}

            </tr>
        {% endfor %}

        </table>

    {% endif %}

{% endmacro %}


{% macro menu(key, item, version) %}

    {% from _self import menu %}

    {% if item is iterable %}

        <li>
            <strong>{{ item.title }}</strong>
        </li>
        {% for key, item in item.items %}
            {{ menu(key, item, version) }}
        {% endfor %}

    {% else %}
        <li>
            <a href="/{{version}}/{{ key }}">{{ item }}</a>
        </li>
    {% endif %}

{% endmacro %}

{% macro submenu(items, version) %}

    {% from _self import submenu %}

    <ul>
        {% for link, name in items %}
            {% if name.items is defined %}
                <li><strong>{{ name.title }}</strong>
                    {{ submenu(name.items, version) }}
                </li>
            {% else %}
                <li><a href="/{{ version }}/{{link}}">{{name}}</a></li>
            {% endif %}

        {% endfor %}
    </ul>

{% endmacro %}