<!doctype html>
<!--[if IE]><![endif]-->
<!--[if IE 7]><html xml:lang="en" lang="en" class="ie ie7"><![endif]-->
<!--[if IE 8]><html xml:lang="en" lang="en" class="ie ie8"><![endif]-->
<!--[if (lt IE 7)|(gt IE 8)|!(IE)]><!-->
<html xml:lang="en" lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title|raw }} | {{ config.title }} </title>
    <meta name="DCTERMS.title" content="Bolt CMS"/>
    <meta name="robots" content="noydir, noodp"/>

    <link rel="shortcut icon" href="/view/images/favicon-bolt.png">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600italic,400italic' rel='stylesheet' type='text/css'>

    <!-- Highlighter -->
    <link rel="stylesheet" href="{{ asset('styles/tomorrow-night.css') }}">
    <script src="{{ asset('js/highlight.pack.js') }}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" />
    <link rel="stylesheet" href="{{ asset('styles/docs.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('styles/select2.css') }}" type="text/css" media="all" />
    <script src="{{ asset('js/modernizr.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- magnific popup -->
    <link rel="stylesheet" href="{{ asset('styles/magnific-popup.css') }}">

{% block extrahead %}
{% endblock extrahead %}

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34977638-1']);
      _gaq.push(['_setDomainName', 'docs.bolt.cm']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.bolt.cm/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.bolt.cm/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</head>

<body class="body-docs">
    <header style="background-image: url(/files/header_57.jpg);">
        <div class="inner">

            <a class="menu-toggle"><span></span></a>
        </div>
    </header>

    <nav class="main-nav expanded">
        <ul>
            <li class="index-1 first">
                <a href="https://bolt.cm/">Home [bolt.cm]</a>
            </li>
            <li class="index-2 {{ slug != 'cheatsheet' ? 'active' }}">
                <a href="/{{version}}/introduction">Documentation</a>
            </li>
            <li class="index-3">
                <a href="/{{version}}/manual">Manual</a>
            </li>
            <li class="index-4 {{ slug == 'cheatsheet' ? 'active' }}">
                <a href="/{{version}}/cheatsheet">Cheatsheet</a>
            </li>

{#
            <li class="index-5">
                <input type="text" id="searchbox" style="width: 100%;">
            </li>
#}

        </ul>
    </nav>

    <main class="row">

{% block content %}
    (content goes here)
{% endblock content %}

    </main>

    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/clipboard.min.js') }}"></script>
    <script src="{{ asset('js/js.cookie.js') }}"></script>
    <script src="{{ asset('js/tree.jquery.js') }}"></script>
    <script>var prefix = "";</script>
    <script src="{{ asset('js/docs.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
    <script type="text/javascript"> docsearch({
        apiKey: '1b46aac18cdcead6090088f1994f7ea8',
        indexName: 'bolt',
        inputSelector: '#algolia-search',
        algoliaOptions: { 'facetFilters': [ "version:{{ version }}"] }
        });
    </script>
</body>
</html>
