
{% for sectionname, section in menu %}
<ul>
    {% for link,name in section %}
        {% if link is empty %}
        <li class="section">{{ name }}</li>
        {% else %}
        <li {% if current==link %}class='current'{% endif %}><a href="/{{link}}">{{name}}</a>
            {% if current==link and submenu is not empty %}
                <ul>
                    {% for link,name in submenu %}
                    <li><a href="#{{link}}">{{name|raw}}</a>
                        {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endfor %}
