{% macro menupart(menu, version, current) %}

    {% for link,name in menu %}
        {% if link is empty %}
        <li class="section"><a href="#">{{ name }}</a></li>
        {% else %}
        <li {% if current==link %}class='current'{% endif %}><a href="/{{ version }}/{{ link }}">{{ name }}</a>
{#             {% if current==link and submenu is not empty %}
                <ul>
                    {% for link,name in submenu %}
                    <li><a href="#{{link}}">{{name|raw}}</a></li>
                        {% endfor %}
                </ul>
            {% endif %} #}
        </li>
        {% endif %}
    {% endfor %}

{% endmacro %}

{% import _self as macro %}

{% for sectionname, section in menu if sectionname != "howto" %}
<ul>
    {{ macro.menupart(section, version, current) }}
</ul>
{% endfor %}
