{% extends '_master.twig' %}

{% import '_macros.twig' as macro %}

{% block extrahead %}
    <!-- data tables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" type="text/css" media="all" />
    <script src="{{prefix}}/view/js/jquery.js"></script>
{% endblock extrahead %}

{% block content %}

    <div class="small-12 medium-12 large-12 columns content">

        <h1>{{ title }}</h1>

        <div class="row labelholder">
        {% for block in cheatsheet if block.title %}
            <span class="secondary radius label">
                <a href="#{{ block.title|slugify }}">{{ block.shorttitle|default(block.title) }}</a>
            </span>
        {% endfor %}
        </div>

        <div class="panels">

            {% for block in cheatsheet|default([]) %}
                <div class="panel">

                    {% if block.title %}
                            {% set title = block.title|markdown|replace({'<p>': '', '</p>': ''}) %}
                            <h2 id="{{ block.title|slugify }}">
                                {{ loop.index -1 }}. {{ title|raw }}
                                <a href="#{{ block.title|slugify }}" class="anchor">&para;</a>
                            </h2>
                    {% endif %}

                    {# prefix #}
                    {% if block.prefix %}{{ block.prefix|markdown }}{% endif %}

                    {# table one #}
                    {{ macro.table(block.table, block.table_linear|default(false)) }}

                    {# postfix #}
                    {% if block.postfix %}{{ block.postfix|markdown }}{% endif %}

                    {# table two #}
                    {{ macro.table(block.table2, block.table_linear|default(false)) }}

                    {# tip #}
                    {% if block.tip %}
                        <div class="tip"> {{ block.tip|markdown }}</div>
                    {% endif %}


                    {# links #}
                    {% if block.links %}
                        <p class='readmore'>
                            Read more:
                            {% for text, link in block.links %}
                                <a href='{{ link }}'>{{ text }}</a>
                                {%- if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}

            </div>

            {% if block.add_separator %}
            </div>
                <hr>
            <div class="panels">
            {% endif %}

            {% endfor %}

        </div>

        {# dump(cheatsheet) #}

        <a href="view/images/doge.jpg">wow</a>

{% endblock %}
