<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>Pilex documentation </title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Skeleton -->
	<link rel="stylesheet" href="/view/css/base.css">
	<link rel="stylesheet" href="/view/css/skeleton.css">
	<link rel="stylesheet" href="/view/css/layout.css">

	<!-- Highlighter --> 
	<script type="text/javascript" src="/view/js/shCore.js"></script>
	<script type="text/javascript" src="/view/js/shBrushJScript.js"></script>
	<script type="text/javascript" src="/view/js/shBrushPlain.js"></script>
	<script type="text/javascript" src="/view/js/shBrushPhp.js"></script>
	<script type="text/javascript" src="/view/js/shBrushXml.js"></script>
	<link href="/view/css/shCore.css" rel="stylesheet" type="text/css" />
	<link href="/view/css/shThemeDefault.css" rel="Stylesheet" type="text/css" />	
{#	<link href="/view/css/shThemeMidnight.css" rel="Stylesheet" type="text/css" />	#}
	<script type="text/javascript">
		SyntaxHighlighter.defaults['auto-links'] = false;
		SyntaxHighlighter.all();
	</script>

	<link rel="stylesheet" href="/view/css/pilex.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script src="/view/js/jquery-1.8.0.min.js"></script>



</head>
<body>


	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">{{ title }}</h1>
			<h5>Version {{ version }}</h5>
			<hr />
		</div>
		<div class="four columns sidebar">
			<h3>Contents</h3>
			<ul>
			{% for link,name in menu %}
				<li><a href="/{{link}}">{{name}}</a></li>
			{% endfor %}
			</ul>
		</div>

		<div class="eleven columns offset-by-one content">
			
			{{ source|raw }}

			<hr style='margin-top: 36px;'>
		</div>

	</div><!-- container -->

</body>
</html>