{% extends '_master.twig' %}

{% import '_macros.twig' as macro %}

{% block content %}

    <div class="small-12 medium-12 large-9 columns content">

        <a href="#sidebar" class="button hide-for-large jumpbutton">Jump to docs navigation</a>

        <div id="version-changer">
            <form action="" method="post">
                <div>
                Version:
                </div>
                <select>
                    <option>Current: <strong>{{ version }}</strong></option>
                    <optgroup label='Switch to version:'>
                    {% for v in versions if v != version %}
                        <option value='/{{ v }}/introduction'>{{ v }}</option>
                    {% endfor %}
                    </optgroup>
                </select>
            </form>
        </div>

        {% if config['default-version'] != version %}
        <p class="note" style="margin-top: 1em;">
            <strong>Note:</strong> You are currently reading the documentation for <strong>Bolt {{ version }}</strong>.
            Looking for the <a href="/">documentation for Bolt {{ config['default-version'] }}</a> instead?
        </p>
        {% endif %}

        {{ source|raw }}

        {{ include('_sub_submenu.twig', {'section': current }) }}

        <div class="community-notice show-for-large">
            <hr>
            Couldn't find what you were looking for? We are happy to help you in the <a href="https://discuss.bolt.cm/" target="_blank">forum</a>, on <a href="http://slack.bolt.cm/" target="_blank">Slack</a> or on <a href="http://bolt.cm/irc" target="_blank">IRC</a>.
        </div>


    </div>

    <div class="small-12 medium-12 large-3 large-pull-9 end columns sidebar" id="sidebar">
        <nav id="sidebar-nav">

            <p class='collapse-nodes'>Search the documentation:
            <input type="text" placeholder="Search ..." id="algolia-search"/>
            </p>

            <p class='collapse-nodes'>
                [
                <a href='#' id='jqtree-collapse-all'>► Collapse all</a> |
                <a href='#' id='jqtree-expand-all'>▼ Expand all</a>
                ]
            </p>
            <div id="tree1" data-url="/tree/{{version}}.json">
                <ul>
                {% for key, item in menu %}
                    {{ macro.menu(key, item, version) }}
                {% endfor %}
                </ul>
            </div>

        </nav>
    </div>

{% endblock content %}
