<!doctype html>
<!--[if IE]><![endif]-->
<!--[if IE 7]><html xml:lang="en" lang="en" class="ie ie7"><![endif]-->
<!--[if IE 8]><html xml:lang="en" lang="en" class="ie ie8"><![endif]-->
<!--[if (lt IE 7)|(gt IE 8)|!(IE)]><!-->
<html xml:lang="en" lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title|raw }} | Bolt documentation </title>
    <meta name="DCTERMS.title" content="Bolt CMS"/>
    <meta name="robots" content="noydir, noodp"/>

    <link rel="shortcut icon" href="/view/images/favicon-bolt.png">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600italic,400italic' rel='stylesheet' type='text/css'>

    <!-- Highlighter -->
    <link rel="stylesheet" href="{{prefix}}/view/styles/tomorrow-night.css">
    <script src="{{prefix}}/view/js/highlight.pack.js"></script>

    <link rel="stylesheet" href="{{prefix}}/view/styles/bolt-v20.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{prefix}}/view/styles/select2.css" type="text/css" media="all" />
    <script src="{{prefix}}/view/js/modernizr.js"></script>

    <!-- magnific popup -->
    <link rel="stylesheet" href="{{prefix}}/view/styles/magnific-popup.css">

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34977638-1']);
      _gaq.push(['_setDomainName', 'docs.bolt.cm']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.bolt.cm/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.bolt.cm/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</head>

<body class="body-docs">
    <header style="background-image: url({{prefix}}/files/header_57.jpg);">
        <div class="inner">

            <nav class="meta-nav">
                <ul>
                    <li class="counter"><a href="https://github.com/bolt/bolt" title="octocat">
                        <i class="fa fa-lg fa-github"></i><span id="stargazers">2400 Stars</span>
                    </a></li>
                    <li class="fork"><a href="https://github.com/bolt/bolt" title="To Bolt on GitHub">Fork Bolt on GitHub</a></li>
                </ul>
            </nav>
            <h1 id="logo"><img src="{{prefix}}/view/images/bolt.png" width='200' alt="BoltCM" /></h1>
            <h2 class="payoff">Sophisticated, Lightweight and Simple</h2>
            <a class="button download show-for-large-up" href="https://bolt.cm/pages/download">
                <span class="desktop">Download Bolt</span><span class="mobile">View download options</span>
                <span class="sub">Current version v 2.0</span>
            </a>
            <a class="menu-toggle"><span></span></a>
                </div>
    </header>

    <nav class="main-nav expanded">
        <ul>
            <li class="index-1 first">
                <a href="https://bolt.cm/">Home</a>
            </li>
            <li class="index-2">
                <a href="https://bolt.cm/features">Features</a>
            </li>
            <li class="index-3 active">
                <a href="{{prefix}}/introduction">Documentation</a>
            </li>
            <li class="index-4">
                <a href="https://bolt.cm/news">News</a>
            </li>
            <li class="index-5">
                <a href="https://bolt.cm/community">Community [IRC/Slack/Forum]</a>
            </li>
            <li class="index-6 last">
                <a href="https://bolt.cm/download">Download</a>
            </li>
        </ul>
    </nav>

    <main>

        <section class="maininfo">
            <div class="maincolumn ">

                <div class="small-12 medium-12 large-7 large-push-3 columns content">

                    <a href="#sidebar" class="button hide-for-large-up">Jump to navigation</a>

                    {# temporary for the transition phase between 1.6 and 2.0
                    <p class="note">
                        <strong>Note:</strong> You are currently reading the documentation for <strong>Bolt 2.0</strong>.
                        Looking for the <a href="https://docs.bolt.cm/v16">documentation for Bolt version 1.6</a> instead?
                    </p>#}

                    {{ source|raw }}

                    {% include '_sub_submenu.twig' with {'section': requested_page } %}


                </div>

                <div class="small-12 medium-12 large-3 large-pull-7 end columns sidebar" id="sidebar">

                    <p><strong>Search</strong><br>
                        <input type="text" id="searchbox" style="width: 100%;">
                    </p>
                    {% include '_sub_contents.twig' %}

                    <p style="font-size: 85%; margin-top: 2em;"><em>Current version: <strong>Bolt {{ version }}</strong></em>.</p>

                </div>

            </div>
        </section>

    </main>

    <footer>
        <div class="inner">
            <nav class="bottomnav">
                <ul>
                    <li class="index-1 first active">
                        <a href="https://bolt.cm/" title="Home">
                            Home
                        </a>
                    </li>
                    <li class="index-2">
                        <a href="https://bolt.cm/page/features" title="Features">
                            Features
                        </a>
                    </li>
                    <li class="index-3">
                        <a href="https://docs.bolt.cm" class="Documentation">
                            Documentation
                        </a>
                    </li>
                    <li class="index-4">
                        <a href="https://bolt.cm/page/news" title="The latest news">
                            News
                        </a>
                    </li>
                    <li class="index-5">
                        <a href="https://bolt.cm/page/community" title="Get in touch!">
                            Community
                        </a>
                    </li>
                    <li class="index-6 last">
                        <a href="https://bolt.cm/page/download" title="Download the latest release of Bolt.">
                            Download
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="credits">
                {# <p>This site is built with Bolt</p> #}
            </div>
            <div class="socials">
                <a class="tw" href="https://twitter.com/boltcm"><i class="fa fa-lg fa-twitter"></i>Bolt on Twitter</a>
                <a class="gh" href="https://github.com/bolt/bolt"><i class="fa fa-lg fa-github"></i>Bolt on Github</a>
            </div>
        </div>
    </footer>

    <script src="{{prefix}}/view/js/jquery.js"></script>
    <script src="{{prefix}}/view/js/select2.min.js"></script>
    <script src="{{prefix}}/view/js/jquery.magnific-popup.min.js"></script>
    <script src="{{prefix}}/view/js/ZeroClipboard.min.js"></script>
    <script>var prefix = "{{prefix}}";</script>
    <script src="{{prefix}}/view/js/docs.js" type="text/javascript"></script>

</body>
</html>
