<!doctype html>
<!--[if IE]><![endif]-->
<!--[if IE 7]><html xml:lang="" lang="" class="ie ie7"><![endif]-->
<!--[if IE 8]><html xml:lang="" lang="" class="ie ie8"><![endif]-->
<!--[if (lt IE 7)|(gt IE 8)|!(IE)]><!-->
<html xml:lang="en" lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} | Bolt documentation </title>
    <meta name="DCTERMS.title" content="Bolt CMS"/>
    <meta name="robots" content="noydir, noodp"/>
    <meta name="generator" content="Bolt">
        
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,600italic,400italic' rel='stylesheet' type='text/css'>

    <!-- Highlighter -->
    <link rel="stylesheet" href="{{prefix}}/view/css/tomorrow-night.css">
    <script src="{{prefix}}/view/js/highlight.pack.js"></script>

    <link rel="stylesheet" href="{{prefix}}/view/styles/bolt-v20.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{prefix}}/view/styles/select2.css" type="text/css" media="all" />
    <script src="{{prefix}}/view/js/modernizr.js"></script>
    
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34977638-1']);
      _gaq.push(['_setDomainName', 'docs.bolt.cm']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>

<body class="body-docs">
        <header style="background-image: url({{prefix}}/files/header_57.jpg);">
        <div class="inner">
        
            <nav class="meta-nav">
                <ul>
                    <li class="counter"><a href="#" title="octocat"><i class="fa fa-lg fa-github"></i>836</a></li>
                    <li class="fork"><a href="#" title="To Bolt on Github">Fork bolt on github</a></li>
                </ul>
            </nav>
            <h1 id="logo"><img src="{{prefix}}/view/images/bolt.png" width='200' alt="BoltCM" /></h1>
            <h2 class="payoff">Sophisticated, Lightweight and Simple</h2>
            <a class="button download" href="/pages/download">
                <span class="desktop">Download Bolt</span><span class="mobile">View download options</span>
                <span class="sub">Current version v 2.0</span>
            </a>
            <a class="menu-toggle"><span></span></a>
                </div>
    </header>
   <nav class="main-nav expanded">
        <ul>
            
<li class="index-1 first">
    <a href="https://bolt.cm/" title='This is the first menu item.' class=''>Home</a>
</li>

<li class="index-2">
    <a href="https://bolt.cm/page/features" title='' class=''>Features</a>
</li>

<li class="index-3 active">
    <a href="{{prefix}}introduction" class=''>Documentation</a>
</li>

<li class="index-4">
    <a href="https://bolt.cm/page/news" title='The latest news' class=''>News</a>
</li>

<li class="index-5">
    <a href="https://bolt.cm/page/irc" title='' class=''>IRC/Chat</a>
</li>

<li class="index-6 last">
    <a href="https://bolt.cm/page/download" title='Download the latest release of Bolt.' class=''>Download</a>
</li>

    
        </ul>
    </nav>
        
    <main>
    
<section class="maininfo">
    <div class="maincolumn ">


<div class="large-3 columns sidebar">

<p><strong>Search</strong><br>
<input type="text" id="searchbox" style="width: 100%;">
</p>

    {% include '_sub_contents.twig' %}

</div>


<div class="large-7 columns end content">
    {# temporary for the transition phase between 1.6 and 2.0 #}
    <p class="note">
        <strong>Note:</strong> You are currently reading the documentation for <strong>Bolt 2.0</strong>.
        Looking for the docs for version 1.6 instead? <a href="https://docs.bolt.cm">click here</a>.
    </p>

    {{ source|raw }}    

</div>

    </div>
</section>

    </main>
    
    <footer>
                <div class="credits">
            <p>This site is built with Bolt</p>
        </div>
        <div class="socials">
            <a class="tw" href="//twitter.com/boltcm"><i class="fa fa-lg fa-twitter"></i>Bolt on twitter</a>
            <a class="gh" href="//github.com/bolt/bolt"><i class="fa fa-lg fa-github"></i>Bolt on github</a>
        </div>
            </footer>


<script src="{{prefix}}/view/js/jquery.js"></script>
<script src="{{prefix}}/view/js/select2.min.js"></script>
<script>var prefix = "{{prefix}}";</script>
<script src="{{prefix}}/view/js/docs.js" type="text/javascript"></script>


</body>
</html>